<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymlinks
#RewriteBase / 

RewriteCond %{SCRIPT_FILENAME} !-f

RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^SLAN/(.*)$ /SLAN/index.php
</IfModule>